# Visual Studio
.vs/
x64/
Debug/
Release/
*.user
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.VC.db
*.VC.VC.opendb

# Build outputs
*.exe
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb

# User-specific files
*.aps
*.ncb
*.userosscache
*.sln.docstates
